language: node_js
node_js:
  - '6'
  - '4'
  - '0.12'
before_install:
  - npm install -g grunt-cli istanbul codecov
install:
  - npm install
script:
  - npm test
  - istanbul cover ./node_modules/mocha/bin/_mocha tests --reporter lcovonly -- -R spec
  - codecov
