language: node_js
node_js:
  - '10'
  - '12'
  - '14'
before_install:
  - npm install -g grunt-cli istanbul codecov
install:
  - npm install
script:
  - npm test
  - istanbul cover ./node_modules/mocha/bin/_mocha tests --reporter lcovonly -- -R spec
  - codecov
